
/*Estilos generales*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.caja-centro{
  width: 80%;
  margin: auto;
  padding: 25px;
}

button{
  width: 85px;
  height: 45px;
  border-radius: 10px;
}
/*Estilos para la tabla en general*/
table, th, td{
  border: 1px solid black;
  border-collapse: collapse;  
}

th, td{
  padding: 10px;
}

th{
  text-align: left;
}

/*Estilos para la pagina de producto*/
.formulario{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formulario input {
  width:250px;
  height: 30px;
  margin: 10px;
  border-color: black;
}

label{
  text-align: right;
  display: inline-block;
  width: 100px;

}

section a{
  display: flex;
  justify-content: center;
  text-decoration: none;
}

select{
  margin: 5px;
  padding: 5px;
  width: 250px;
}

fieldset{
  width: 400px;
  border-color: black;
}


/*Estilos de los botones del sitio*/
.btn-Agregar{
  background-color: rgb(65, 150, 69);
}

.btn-Editar{
  background-color: rgb(49, 63, 194);
}

.btn-Eliminar{
  background-color: rgb(194, 34, 34);
}

.btn-Regresar{
  background-color: rgb(28, 181, 201);
}

